.image-perfil{
    height: 60px;
    width: 60px;
}

/* Barra de navegacion */

.customization-bar{
    background-color: none;   
    position: sticky;
    padding: 0.5rem;
}

.bi-list{
    color: #ffffff;
    font-size: xx-large;
}

.navbar-toggler{
    border: 2px solid #ffffff;
    transition: all 0.4s ease-in-out;
}

.btn:hover{
    background-color: #D43F52;
    border-color: transparent;
}

.nav-link{
    color:#ffffff;
}

.nav-link:hover{
    color:#ffffff;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}



h1, h2, h3{
    font-size: 1.1rem;
}



/* icons what I do */

.media-object, .media-body{
    text-align: center;
}

.media-object{
    margin-bottom: 20px;
}

/* lateral active dots desable */
#fp-nav{
    display: none;
}

/* Adaptable (Responsivo) */

@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
    }

    .navbar-toggler-icon{
        background-color: #ffffff;
        border-color: #ffffff;
    }

    .customization-bar{
        background-color: black; 
        opacity: 0.8; 
}

}
